.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #00539CFF;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #EEA47FFF;
  }
  
  p {
    font-size: 2rem;
    color: #EEA47FFF;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }
  
  